# === DB & Security  ===
server/mysql/
**/#innodb_redo/
**/#ib_redo*
*.dblwr
db.properties
*security.yaml
.env*
secure/
*.bak
backup/

# === Java & Gradle (빌드 결과물) ===
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
bin/
out/
*.jar
*.war

# === IntelliJ IDEA ===
.idea/
**/*.iws
**/*.iml
**/*.ipr

# === VS Code ===
.vscode/

# [OS/IDE Misc]
**/Thumbs.db
**/*.log

# MySQL data files
server/mysql/

# === OS & Etc ===
.DS_Store
node_modules/
tmp/
coverage/

# === Next.js ===
.next/
next-env.d.ts