# === DB & Security ===
server/mysql/
**/#innodb_redo/
**/#ib_redo*
*.dblwr
db.properties
*security.yaml
.env*
secure/
*.bak
backup/
*.sock

# === Java & Gradle (빌드 결과물) ===
.gradle/
server/build/
!server/gradle/wrapper/gradle-wrapper.jar
bin/
out/
*.jar
*.war

# === IntelliJ IDEA ===
.idea/
**/*.iws
**/*.iml
**/*.ipr

# === VS Code ===
.vscode/

# === Claude Code ===
.claude/settings.local.json

# [OS/IDE Misc]
**/Thumbs.db
**/*.log

# === OS & Etc ===
.DS_Store
node_modules/
tmp/
coverage/

# === Next.js ===
.next/
next-env.d.ts
